/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
    height: 100%;

}

.carousel,
.item,
.active {
    height:35em;
    top:-1px;

}

.carousel-inner {
    height: 100%;
}
.carousel-caption{
    text-align: left;
}
.carousel-caption h2{
    color:#fff;
    font-size:40px;
    font-family: 'Fjalla One', sans-serif;
}/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
     
}